<div>
  <form [formGroup]="SearchContainersForm" (ngSubmit)="GetContainers()">
    <!-- <label for="number">Маркировочный номер контейнера:</label> -->
    <div class="searcher">
      <input type="text" id="number" formControlName="number" placeholder="Маркировочный номер контейнера" (keydown)="validate()" (keyup)="validate()">
      <div class="button-group">
        <button type="submit" [disabled]="SearchContainersForm.invalid">Поиск</button>
        <button type="reset">Очистить</button>
      </div>
      <div class="erros"
        *ngIf="SearchContainersForm.invalid && SearchContainersForm.get('number').touched">
        <div *ngIf="SearchContainersForm.get('number').getError('required')">
          Необходимо ввести номер контейнера
        </div>
        <div *ngIf="SearchContainersForm.get('number').getError('maxlength')">
          Максимально 11 символов
        </div>
        <div *ngIf="SearchContainersForm.get('number').getError('pattern')">
          4 Символа и 7 цифр
        </div>
      </div>
    </div>
  </form>
  <div class="content" *ngIf="Containers">
    <div class='tags'>
      <div class="tags-item">
        <div>id:</div>
        <div>{{Containers.id}}</div>
      </div>
      <div class="tags-item">
        <div>Owner:</div>
        <div>{{Containers.owner}}</div>
        <app-logo [owner]="Containers.owner"></app-logo>
      </div>
    </div>
    <div class="page-title">History</div>
    <div class='info-table-wrapper'>
      <table class='info-table'>
        <thead>
          <tr>
            <th>Date From</th>
            <th>Date To</th>
            <th>Source Port</th>
            <th>Destination Port</th>
            <th>Sender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of Containers.history">
            <td>{{history.dateFrom}}</td>
            <td>{{history.dateTo}}</td>
            <td>{{history.sourcePort}}</td>
            <td>{{history.destinationPort}}</td>
            <td>{{history.sender}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
